.env
venv/
poetryvenv/
.venv/
data/
*.pickle
raw_data/
src/pipeline/log.log
config.yaml
scripts/log.log
src/pipeline/__pycache__/
scripts/runs
log.log
runs/
src/pipeline/effat_repo/models/mn/__pycache__/
src/pipeline/effat_repo/models/dymn/__pycache__/
resources/
runs/
*.ckpt
*.wav
*.csv
__pycache__
*.log

